*{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    margin: 9px;
}

.div1, .div2 {
    width: 70%;
    max-width: 400px;
}

#divs {
    display: inline-block;
    color: brown;
    margin-bottom: 20px;
}

#divs h1, #divss h1 {
    text-align: center;
}

.div1 {
    color: aqua;
    border: 2px solid gray;
}

.list1{
    color: blueviolet;
}

#likes7 {
    color: chartreuse;
}

#divss {
    border: 2px solid brown;
    color: rgb(18, 45, 70);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dislikes3 {
    color: brown;
}

.lists2{
    color: burlywood;
}

ul, ol {
    padding-left: 5px;
} 